.modal-window {
    width: 300px;
    height: 200px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    /* background-color: blue; */
    animation: scale-up-center 0.5s ease;
}

.modal-window__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    border-radius: 12px;
    width: 100%;


}

.modal-window__header {
    height: 30px;
    background-color: var(--header-background);
    /* width: 100%; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    color: var(--color);
}

.modal-window__body {
    background-color: var(--content-background);
    flex: 1;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);

}

.modal-window__footer {
    height: 40px;
    background-color: var(--header-background);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);

}

.primary {
    background-color: #03a9f4;
    outline: none;
    border: 1px solid #03a9f4;
    color: white;
    border-radius: 4px;
    height: 25px;
    cursor: pointer;
}

.default {
    background-color: var(--header-background);
    outline: none;
    color: var(--color);
    border: none;
    padding: 8px;
    cursor: pointer;
}

.modal-page {
    padding: 30px;
    color: var(--color);
    height: 100%;
}