.modal-block__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: var(--header-background);
    padding: 8px 12px;
    border-top-left-radius: 12px ;
    border-top-right-radius: 12px ;

}

.modal-block__header > span {
    font-size: 20px;
    font-weight: 500;
    color: var(--color);
}

.modal-block__body-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--content-background);
    color: var(--color);
}


.modal__handler {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background);
    padding: 8px;
    border-bottom-left-radius: 12px ;
    border-bottom-right-radius: 12px ;
}

.model__handler--primary {
    background-color: #03a9f4;
    outline: none;
    border: 1px solid #03a9f4;
    color: white;
    height: 30px;
    border-radius: 4px;
}

.modal__handler--default {
    background-color: var(--header-background);
    outline: none;
    color: var(--color);
    border: none;
    padding: 8px;
}


.modal-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
}

.modal-overall {
    width: 100%;
    height: 100vh;
    background-color: rgba(110, 110, 110, 0.301);

}

.right-modal {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

.right-modal__container {
    background-color: var(--left-modal-background);
    width: 100%;
    animation: slide-right 0.5s ease;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center
}

@keyframes slide-right {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }