body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  --button-background: #ede7f6;
}


.theme-dark {
  --header-layout: rgb(19 47 76);
  --left-modal-background: rgb(10 25 41);
  --background: #0a1929;
  --warn-background: #ff9800;
  --warn-color: #ffff;
  --warn-border: #ff9800;
  --error-background: #f44336;
  --error-color: #ffff;
  --error-border: #f44336;
  --success-background: #4caf50;
  --success-color: #ffff;
  --success-border: #4caf50;
  --modal-background: #03a9f4;
  --modal-color: #ffff;
  --modal-border: #03a9f4;

  --header-background: rgb(30 31 33);
  --color: white;
  --content-background: rgb(42 42 42);
  --handler-background: rgb(30 31 33);
  --label-hover: rgba(245, 245, 245, 0.096);
  --dropdown-color: rgb(50 51 53);
  --dropdown-hover: rgb(62 63 65);
  --dropdown-choose: rgb(77, 79, 82);
  --layout-span: #9999;
  --dropdown-outline: #03a9f4;
}

.theme-light {
  --background: #ffff;
  --left-modal-background: rgb(255, 255, 255);
  --header-layout: #d8e9fc;
  --warn-background: #ffff;
  --warn-hover-background: #ff9800;
  --error-hover-background: #f44336;
  --success-hover-background: #4caf50;
  --modal-hover-background: #03a9f4;
  --label-hover: rgba(236, 236, 236, 0.993);
  --warn-color: #ff9800;
  --warn-border: #ff9800;
  --error-background: #ffff;
  --error-color: #f44336;
  --error-border: #f44336;
  --success-background: #ffff;
  --success-color: #4caf50;
  --success-border: #4caf50;
  --modal-background: #ffff;
  --modal-color: #03a9f4;
  --modal-border: #03a9f4;
  --layout-span: #5c5c5c99;

  --header-background: rgb(230 230 230);
  --color: black;
  --content-background: white;
  --handler-background: rgb(230 230 230);
  --dropdown-color: white;
  --dropdown-outline: #03a9f4;
  --dropdown-hover: rgb(231, 231, 231);
  --dropdown-choose: rgb(245, 245, 245);

}


#toast-root {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  --error-color: #f44336;
  --warn-color: #ff9800;
  --success-color: #4caf50;
}

#modal-root {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */

}